<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.sirius.componentization">
      <component
            class="de.uni_stuttgart.iste.cowolf.core.sirius.editor.Activator"
            id="de.uni_stuttgart.iste.cowolf.core.sirius.editor"
            name="ModelAssociation">
      </component>
   </extension>
   <extension
         point="org.eclipse.sirius.externalJavaAction">
      <javaActions
            actionClass="de.uni_stuttgart.iste.cowolf.core.sirius.editor.operations.CreateVersion"
            id="de.uni_stuttgart.iste.cowolf.core.sirius.editor.operations.createVersion">
      </javaActions>
   </extension>

</plugin>
