<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.uni_stuttgart.iste.cowolf.ui.model.modelPage"
            class="de.uni_stuttgart.iste.cowolf.ui.analyze.lqn.lqnsolver.preferences.LQNSolverPreferencePage"
            id="de.uni_stuttgart.iste.cowolf.ui.analyze.lqn.lqnsolver.preferences.LQNSolverPreferencePage"
            name="LQN - LQNSolver">
      </page>
   </extension>
   <extension
         point="de.uni_stuttgart.iste.cowolf.ui.model.qosAnalyzeWizardExtension">
     <qosAnalyzeWizard
            class="de.uni_stuttgart.iste.cowolf.ui.analyze.lqn.lqnsolver.LQNAnalyzeWizard">
     </qosAnalyzeWizard>
   </extension>

</plugin>
